.header__logo {
  margin: 40px 0;
}

@media screen and (max-width: 900px) {
  .header__logo {
    margin-left: 28px;
  }
}

@media screen and (max-width: 430px) {
  .header__logo {
    width: 104px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}