.popup__submit-button {
  width: 100%;
  min-height: 52px;
  background: #000000;
  border-radius: 2px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: all .5s ease-in;
}

.popup__submit-button:hover {
  background: rgba(0, 0, 0, 0.8);
}

