.profile__occupation {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 0;
}

@media screen and (max-width: 740px) {
  .profile__occupation {
    text-align: center; 
    margin-top: 10px;
  }
}

@media screen and (max-width: 430px) {
  .profile__occupation {
    font-size: 14px;
    line-height: 17px;
  }
}