.profile__edit-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
}

@media screen and (max-width: 430px) {
  .profile__edit-wrapper {
    width: 88vw;
    justify-content: space-between;    
  }
}