.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid white;
  background-image: url(/images/profile/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  margin: auto 0;
  cursor: pointer;
  transition: all .5s ease-in;
}

.profile__add-button:hover {
  opacity: .6;
}