.footer__copyright {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 900px) {
  .footer__copyright {
    margin: 0;
    margin-left: 5vw;
  }
}

@media screen and (max-width: 430px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}