.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  margin: 0 16px 0 0;
}

@media screen and (max-width: 740px) {
  .profile__name {
    text-align: center; 
  }
}

@media screen and (max-width: 430px) {
  .profile__name {
    font-size: 27px;
    line-height: 32px;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
  }
}
