.popup__close-button {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -35px;
  right: -35px;
  cursor: pointer;
  transition: all .5s ease-in;
  background-image: url(../../../images/popup/Close_Icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  border: none;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 520px) {
  .popup__close-button {
    right: 0;
  }
}