.element__title {
  color: black;
  grid-area: title;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: auto auto auto 20px;
  word-wrap: none;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 220px;
}